.sidenav-container {
  height: 100%;
  background-color: lightblue;
}

.sidenav {
  width: 200px;
  background-color: lightcoral;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display:none;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 450px) {
  .app-title {
    font-size: 4.5vw;
  }
}