<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [class.active]="isActive('profile')" (click)="scrollToSection('profile', $event)">{{'MENU.PROFILE' | translate}}</a>
      <a mat-list-item [class.active]="isActive('skills')" (click)="scrollToSection('skills', $event)">{{'MENU.SKILLS' | translate}}</a>
      <a mat-list-item [class.active]="isActive('experience')" (click)="scrollToSection('experience', $event)">{{'MENU.EXPERIENCE' | translate}}</a>
      <a mat-list-item [class.active]="isActive('portfolio')" (click)="scrollToSection('portfolio', $event)">{{'MENU.PORTFOLIO' | translate}}</a>
      <a mat-list-item [class.active]="isActive('education')" (click)="scrollToSection('education', $event)">{{'MENU.EDUCATION' | translate}}</a>
      <a mat-list-item [class.active]="isActive('contact')" (click)="scrollToSection('contact', $event)">{{'MENU.CONTACT' | translate}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:#0E2133; color: white;" >
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="app-title">Mathias Manzano Y Gonzalez</span>
      <app-language-switcher></app-language-switcher>
    </mat-toolbar>
    <div class="container-fluid p-3 container-color-1" id="profile"><div class="container"><app-profile></app-profile></div></div>
    <div class="container-fluid p-3 container-color-2" id="skills"><div class="container"><app-skills></app-skills></div></div>
    <div class="container-fluid p-3 container-color-1" id="experience"><div class="container"><app-experience></app-experience></div></div>
    <div class="container-fluid p-3 container-color-2" id="portfolio"><div class="container"><app-portfolio></app-portfolio> </div></div>
    <div class="container-fluid p-3 container-color-1" id="education"><div class="container"><app-education></app-education></div></div>
    <div class="container-fluid p-3 container-color-2" id="contact"><div class="container"><app-contact></app-contact></div></div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
