<h3>{{ 'EXPERIENCE.TITLE' | translate }}</h3>
<div class="timeline">
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <p class="timeline-date">{{ 'EXPERIENCE.INTERNSHIP.DURATION' | translate }}</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EXPERIENCE.INTERNSHIP.POSITION' | translate }}</strong><br>{{ 'EXPERIENCE.INTERNSHIP.ADDRESS' | translate }}<br><br>{{ 'EXPERIENCE.INTERNSHIP.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <div class="timeline-container timeline-right">
    <div class="timeline-content">
      <p class="timeline-date">{{ 'EXPERIENCE.HIGHSCHOOL.DURATION' | translate }}</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EXPERIENCE.HIGHSCHOOL.POSITION' | translate }}</strong><br>{{ 'EXPERIENCE.HIGHSCHOOL.ADDRESS' | translate }}<br><br>{{ 'EXPERIENCE.HIGHSCHOOL.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <p class="timeline-date">{{ 'EXPERIENCE.HIGHSCHOOL_INTERNSHIP.DURATION' | translate }}</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EXPERIENCE.HIGHSCHOOL_INTERNSHIP.POSITION' | translate }}</strong><br>{{ 'EXPERIENCE.HIGHSCHOOL_INTERNSHIP.ADDRESS' | translate }}<br><br>{{ 'EXPERIENCE.HIGHSCHOOL_INTERNSHIP.DESCRIPTION' | translate }}</p>
    </div>
  </div>
</div>