<h3>{{ 'EDUCATION.TITLE' | translate }}</h3>
<div class="timeline">
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <p class="timeline-date">2020 - 2025</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EDUCATION.BACHELOR.DIPLOMA' | translate }}</strong><br>{{ 'EDUCATION.BACHELOR.INSTITUTION' | translate }} | Chaussée de Binche 159, 7000 Mons<br><br>{{ 'EDUCATION.BACHELOR.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <div class="timeline-container timeline-right">
    <div class="timeline-content">
      <p class="timeline-date">2017 - 2020</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EDUCATION.SECONDARY.DIPLOMA' | translate }}</strong><br>{{ 'EDUCATION.SECONDARY.INSTITUTION' | translate }} | Rue Paul Pastur 11, 7800 Ath<br><br>{{ 'EDUCATION.SECONDARY.DESCRIPTION' | translate }}</p>
    </div>
  </div>
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <p class="timeline-date">2020 - 2025</p>
      <p class="timeline-copy sqsrte-large"><strong>{{ 'EDUCATION.BACHELOR.DIPLOMA' | translate }}</strong><br>{{ 'EDUCATION.BACHELOR.INSTITUTION' | translate }} | Chaussée de Binche 159, 7000 Mons<br><br>{{ 'EDUCATION.BACHELOR.DESCRIPTION' | translate }}</p>
    </div>
  </div>
</div>