.language-switcher {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 1rem;

  .current-language {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .language-menu {
    display: none;
    position: absolute;
    top: 2rem;
    right: -10px;
    list-style: none;
    background: #0E2133;
    border: 1px solid #0E2133;
    padding: 0.5rem 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    

    &.open {
      display: block;
    }

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        background-color: #f5f5f5;
        color: #0E2133;
      }

      &.active {
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}