<div class="sidebar" [ngClass]="{ 'collapsed': !isExpanded, 'expanded': isExpanded }" id="sidebar">
  <a href="#" (click)="scrollTo('home')"><i class="fa-solid fa-home"></i><span class="text">{{ 'NAV.HOME' | translate }}</span></a>
  <a href="#" (click)="scrollTo('about')"><i class="fa-solid fa-user"></i><span class="text">{{ 'NAV.ABOUT' | translate }}</span></a>
  <a href="#" (click)="scrollTo('experience')"><i class="fa-solid fa-timeline"></i><span class="text">{{ 'NAV.EXPERIENCE' | translate }}</span></a>
  <a href="#" (click)="scrollTo('skills')"><i class="fa-solid fa-user-gear"></i><span class="text">{{ 'NAV.SKILLS' | translate }}</span></a>
  <a href="#" (click)="scrollTo('portfolio')"><i class="fa-regular fa-folder-open"></i><span class="text">{{ 'NAV.PORTFOLIO' | translate }}</span></a>
  <a href="#" (click)="scrollTo('contact-form')" ><i class="fa-solid fa-envelope"></i><span class="text">{{ 'NAV.CONTACT' | translate }}</span></a>
  <hr>
  <img src="assets/img/profile.jpg" alt="email" />
  <div class="email-label">email</div>
  <hr>
  <div class="language-switcher ms-3">
    <select [value]="currentLang" (change)="switchLang($event)" class="form-select form-select-sm w-auto">
      <option value="en">EN</option>
      <option value="fr">FR</option>
    </select>
  </div>

</div>
