.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  box-sizing: border-box;
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #051D33;
  border: 4px solid #051D33;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left {
  left: 0;
}

.timeline-right {
  left: 50%;
}

.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-right::after {
  left: -12px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
 }

@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline-left::after {
    left: 17px;
  }

  .timeline-right::after {
    left: 17px;
  }

  .timeline-right {
    left: 0px;
  }
}

.timeline-date {
  color: #009fa1; font-weight: 700;
}

.timeline-copy {
  color: black !important;
}

p.dark-theme[class*="timeline-copy"], li.dark-theme {
  color: #E8E6E3 !important;
}

.timeline-content.dark-theme {
  background-color: #181A1B !important;
}

.timeline-right.dark-theme::after, .timeline-left.dark-theme::after {
  background-color: darkgray !important;
  border: darkgray !important;
}

.timeline-left.dark-theme::before {
  border: medium solid #181A1B;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #181A1B;
}

.timeline-right.dark-theme::before {
  border: medium solid #181A1B;
  border-width: 10px 10px 10px 0;
  border-color: transparent #181A1B transparent transparent;
}

.timeline.dark-theme::after {
  background-color: #181A1B !important;
}

h3.dark-theme {
  color: #D6D3CD;
}