<div class="container-flex">
  <app-header (toggle)="toggleSidebar()"></app-header>
  <div class="main">
    <app-navbar [isExpanded]="isExpanded"></app-navbar>
    <div class="content">
      <app-home id="home" style="width: 100%"></app-home>
      <app-about id="about" style="width: 100%"></app-about>
      <app-experience id="experience" style="width: 100%"></app-experience>
      <app-skills id="skills" style="width: 100%"></app-skills>
      <app-portfolio id="portfolio" style="width: 100%"></app-portfolio>
      <app-contact id="contact-form" style="width: 100%"></app-contact>
      <app-footer id="footer" style="width: 100%"></app-footer>
    </div>
  </div>
</div>
