<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <img  class="img-fluid rounded-start" src="../assets/img/mathias.jpg" alt="Profile Picture">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ 'PROFILE.TITLE' | translate }}</h3>
                <p class="card-text">{{ 'PROFILE.BIO' | translate }}</p>
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="basic-info">
                            <li><i class="fa-solid fa-user"></i> Mathias Manzano Y Gonzalez</li>
                            <li><i class="fa-solid fa-envelope"></i><a href="mailto:mathiasmanzano37@gmail.com" class="link"> mathiasmanzano37&#64;gmail.com</a></li>
                            <li><i class="fa-solid fa-cake-candles"></i> 21/04/2000 | {{ getAge() }} {{ 'PROFILE.AGE' | translate }}</li>
                            <li><i class="fa-solid fa-map-location-dot"></i><a href="https://maps.app.goo.gl/HbgnDy7JnvrUAVmR9" target="_blank"> 7800 ATH | {{ 'PROFILE.COUNTRY' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="languages-container">
                    <div class="language-item">
                        <span class="fi fi-gf fis flag"></span><span class="language">{{ 'PROFILE.LANGUAGES.FRENCH' | translate }}</span>
                    </div>
                    <div class="language-item">
                        <span class="fi fi-es fis flag"></span><span class="language">{{ 'PROFILE.LANGUAGES.SPANISH' | translate }}</span>
                    </div>
                    <div class="language-item">
                        <span class="fi fi-sh fis flag"></span><span class="language">{{ 'PROFILE.LANGUAGES.ENGLISH' | translate }}</span>
                    </div>
                    <div class="language-item">
                        <span class="fi fi-bq fis flag"></span><span class="language">{{ 'PROFILE.LANGUAGES.DUTCH' | translate }}</span>
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col social-btns d-flex justify-content-center">
                    <div class="button-wrapper" 
                         (mouseenter)="showLinkedInText = true" 
                         (mouseleave)="showLinkedInText = false">
                        <a class="rounded-button" href="https://www.linkedin.com/in/mathias-manzano-y-gonzalez-b2464b20b/" target="_blank">
                            <i class="fa-brands fa-linkedin fa-xl button"></i>
                        </a>
                        <span class="button-text" [class.visible]="showLinkedInText">LinkedIn</span>
                    </div>
                </div>
                <div class="col social-btns d-flex justify-content-center">
                    <div class="button-wrapper" 
                         (mouseenter)="showGitHubText = true" 
                         (mouseleave)="showGitHubText = false">
                        <a class="rounded-button" href="https://github.com/ManzanoYG" target="_blank">
                            <i class="fa-brands fa-github fa-xl button"></i>
                        </a>
                        <span class="button-text" [class.visible]="showGitHubText">GitHub</span>
                    </div>
                </div>
                <div class="col social-btns d-flex justify-content-center">
                    <div class="button-wrapper" 
                         (mouseenter)="showDownloadText = true" 
                         (mouseleave)="showDownloadText = false">
                        <button class="rounded-button" (click)="downloadCV()">
                            <i class="fa fa-download fa-xl button"></i>
                        </button>
                        <span class="button-text" [class.visible]="showDownloadText">{{ 'PROFILE.CV' | translate }}</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
