.btn-gradient {
  background: linear-gradient(45deg, #007bff, #6610f2);
  border: none;
  color: white;
  transition: background 0.4s ease;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(102, 16, 242, 0.4);
}

.btn-gradient:hover:not(:disabled) {
  background: linear-gradient(45deg, #6610f2, #007bff);
  box-shadow: 0 6px 20px rgba(102, 16, 242, 0.7);
  color: white;
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(102, 16, 242, 0.7);
  border-color: #6610f2;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

form.container {
  background: #fff;
  box-shadow: 0 8px 25px rgb(0 0 0 / 0.1);
  border-radius: 15px;
}

.text-danger {
  font-weight: 500;
}

.spinner-border {
  vertical-align: middle;
}

#message {
  height: 100%;
  min-height: 220px;
  max-height: 350px;
}
